.diffrow
	margin: 30px 26px 30px 0
	position: relative 
	img
		display: block
	.diffrow__zoom
		position: absolute
		bottom: -18px 
		right: 0 
		.diffrow__zoomplus,.diffrow__zoomminus
			+s(plus)
			display: inline-block
			vertical-align: middle
			margin-left: 7px 
			cursor: pointer
		.diffrow__zoomminus
			+s(minus)
			margin-right: 7px 
		span
			text-transform: uppercase
			color: #777C88
			font-weight: 400  
			display: inline-block
			vertical-align: middle
			position: relative
			top: -2px 
			strong
				font-weight: 600 
	.diffrow__hideprecize
		position: absolute
		right: 0
		top: -21px  
		font-weight: 600
		font-size: 13px  
		color: #777C88
		text-transform: uppercase 
		cursor: pointer
		&.is-hiddenprecize
			i
				+s(precize)
		i
			+s(hide)
			vertical-align: middle
			display: inline-block
			margin-right: 4px 
		span
			display: inline-block
			vertical-align: middle
	.diffrow__filmstrip
		position: relative
		&:last-child
			margin-top: 5px 
			.diffrow__title
				top: auto 
				bottom: -18px 
	.diffrow__title
		position: absolute
		top: -20px 
		font-size: 13px 
		color: #777C88
		font-weight: 300
		left: 10px 
		strong
			font-weight: 600
			margin-right: 10px  
.hilite
	position: absolute
	bottom: -5px 
	top: -3px 
	background: #FA896F
	&.hilite_border
		height: 3px
		top: auto 
		bottom: -4px
.theredthing
	position: absolute
	top: -30px 
	bottom: -30px 
	z-index: 20 
	width: 5px 
	border-left: 1px solid #EB212E 
	cursor: move
	&:hover
		background: rgba(#EB212E, .5) 
.videowrapper
	height: 300px
	width: 534px 
	margin: 0 auto 
.uploadvideo
	background: #000 
	height: 300px 
	width: 100% 
	text-align: center
	line-height: 300px
	vertical-align: middle 
	.uploadvideo__in
		display: inline-block
		width: 230px 
		height: 90px 
		text-align: left
		line-height: 1 
		position: relative
		top: 15px 
	.uploadvideo__link
		border: 1px solid #484A50 
		border-radius: 4px
		padding: 8px 15px 8px 9px
		text-transform: uppercase
		font-weight: 600
		color: #fff
		text-decoration: none
		line-height: 1   
		margin-bottom: 9px 
		cursor: pointer
		display: inline-block
		
		i
			+s(add)
			vertical-align: middle
			display: inline-block
			margin-right: 12px 
		span
			display: inline-block
			vertical-align: middle
	.uploadvideo__text
		font-size: 13px 
		color: #777C88 
		line-height: 1 
	