// default layout
body,html
	height: 100% 
body
	position: relative
	min-height: 500px 
	min-width: 1200px 
.l-top
	position: absolute
	top: 0
	left: 0
	right: 0 
	bottom: 78px   
	background: #18181D 
	overflow: auto
	&.l-top_transparent
		background: transparent 
.l-controls
	background: #414349
	position: absolute
	bottom: 0
	left: 0
	right: 0 
	border-top: 5px solid #2B2C33  
	height: 78px
	min-width: 1200px 
.l-flex
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-flex-flow: column wrap
	&>*
		flex: 1
		padding: 15px 
		text-align: center
	.l-flexmiddle
		flex: 0 0 40px
		height: 39px 
		padding: 0 
		.is-startpage &
			background: #777C88
			height: 16px  
			flex: 0 0 16px